.wrapper
  .side_bar
    .LeftHeader
      .LeftHeader__list
        %b.LeftHeader__UserName
          = current_user.name
        .LeftHeader__iconList
          = link_to new_group_path, class:"new_group_icon" do
            = icon('fas', 'edit')
          = link_to edit_user_path(current_user), class:"edit_icon" do
            = icon('fas', 'cog')
    .GroupList
      - current_user.groups.each do |group|
        .Group
          = link_to '#', class:"Group"do
            .GroupName
              = group.name
            .GroupMessage 
              メッセージはまだありません